input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

input,
textarea {
  border: none;
  padding: 0.8rem;
  margin: 0.3rem 0;
  border-radius: 5px;
  font-size: 1.4rem;
}

textarea {
  resize: none;
}

#form {
  margin: 1rem 3rem;
  padding: 2rem;
  background-color: var(--primary-light);
  border-radius: 5px;
}

#info,
#education,
#work {
  display: flex;
  flex-direction: column;
}
