@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
  --accent: dodgerblue;
  --header-height: 10rem;
  --footer-height: 4rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* helpful when creating basic structure */
  /* border: 1px solid black; */
}

html {
  font-size: 90.5%;
  line-height: 1.6;

  /* footer support */
  position: relative; /* makes html an element which footer sticks to */
  min-height: 100%; /* not necessary when main takes all available space */
}

body {
  font-size: 1.6rem;
  font-family: 'Bangers', sans-serif;
  color: var(--primary-dark);
  background-color: var(--secondary-light);
}

button {
  display: inline-block;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  background-color: var(--secondary-dark);
  color: var(--primary-light);
}

button:hover {
  background-color: var(--primary-dark);
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  padding: 2rem;
}

img {
  width: 100%;
  height: auto;
}

#bg {
  position: relative;
  background-image: url(./img//wheres-wolverine.jpg);
  background-size: cover;
  width: 1500px;
  height: 1500px;
}

.square {
  width: 100px;
  height: 100px;
  border: 5px solid black;
  position: absolute;
}

.wolverine {
  width: 90px;
  height: 130px;
  position: absolute;
  top: 530px;
  left: 390px;
}

.hulk {
  width: 140px;
  height: 180px;
  position: absolute;
  top: 500px;
  left: 970px;
}

.spider-man {
  width: 140px;
  height: 150px;
  position: absolute;
  top: 20px;
  left: 840px;
}
