@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
  --header-height: 10rem;
  --footer-height: 4rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* helpful when creating basic structure */
  /* border: 1px solid black; */
}

html {
  font-size: 62.5%;
  line-height: 1.6;

  /* footer support */
  position: relative; /* makes html an element which footer sticks to */
  min-height: 100%; /* not necessary when main takes all available space */
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

header {
  font-size: 3rem;
}

button {
  display: block;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  height: var(--header-height);
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  /* min-height: calc(100vh - header_height - footer_height) */
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  margin-bottom: 3.5rem;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  height: var(--footer-height);
}

/* form */
#form {
  display: flex;
  font-size: 1.8rem;
}

#form input {
  padding: 0.6rem;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
}

#form button {
  background-color: tomato;
  color: white;
  border-radius: 0px 5px 5px 0px;
}

#form button:hover {
  background-color: rgb(199, 80, 59);
}

/* weather info */
.weather-info {
  margin-top: 3rem;
  background-color: var(--secondary-dark);
  color: var(--secondary-light);
  padding: 2rem;
  border-radius: 5px;
  width: 600px;
}

.weather-info-header,
.weather-info-current {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-info-left,
.weather-info-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.weather-info-details {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.weather-info-details-left,
.weather-info-details-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-info-details-left .detail-item {
  width: 70px;
}

.weather-info-details-right .detail-item {
  width: 170px;
}
