@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
  --accent: dodgerblue;
  --header-height: 10rem;
  --footer-height: 4rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* helpful when creating basic structure */
  /* border: 1px solid black; */
}

html {
  font-size: 62.5%;
  line-height: 1.6;

  /* footer support */
  position: relative; /* makes html an element which footer sticks to */
  min-height: 100%; /* not necessary when main takes all available space */
}

body {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  color: var(--primary-dark);
  background-color: var(--secondary-light);
  height: 100%;
}

button,
.hero-btn {
  display: inline-block;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  background-color: var(--secondary-dark);
  color: var(--primary-light);
}

button:hover,
.hero-btn:hover {
  background-color: var(--primary-dark);
}

.hero-btn {
  text-decoration: none;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-nav {
  position: absolute;
  top: 3rem;
  right: 5vw;
  padding: 2rem;
  font-size: 2rem;
  background-color: var(--secondary-light);
}

.main-nav ul {
  display: flex;
  list-style-type: none;
}

.main-nav li {
  padding: 0.4rem;
  margin: 0 2rem;
  cursor: pointer;
}

.main-nav li:hover {
  border-bottom: 2px solid var(--primary-dark);
}

.main-nav a {
  color: var(--primary-dark);
  text-decoration: none;
}

.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-right {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.home-right h1 {
  font-size: 5rem;
}

.hero-img {
  height: 99vh;
}

.shop {
  width: 80%;
  margin: 200px auto;
  display: flex;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.product {
  padding: 20px;
  margin: 10px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
}

.product-name {
  font-weight: bold;
}

.product-image {
  height: 230px;
  width: 230px;
  margin: 10px 0;
  object-fit: cover;
  object-position: bottom;
}

.product-description {
  margin-top: 10px;
  font-size: 1.8rem;
}

.product-price {
  text-align: right;
}
.product-btn {
  width: 30px;
  height: 30px;
  margin: 0 8px;
  padding: 0;
}

.plus {
  width: 60px;
}

.shop-left {
  flex: 4;
}

.cart {
  position: sticky;
  align-self: flex-start;
  top: 50px;
  flex: 1;
}

.cart-btn {
  width: 30px;
  height: 30px;
  padding: 0;
}

@media (max-width: 900px) {
  .main-content {
    flex-direction: column;
  }
}
